* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
:root {
    /* Colors */
    --clr-primary-1: #272b30;
    --clr-primary-2: #56595e;
    --clr-primary-3: #4799eb;

    --clr-primary-4: #2086ec;
    --clr-primary-5: #e0a53f;
    --clr-primary-6: #d10024;
    --clr-primary-7: #24292e;
    --clr-primary-8: #35613e;

    /* Text colors  and Tags*/
    --clr-text-1: #aaaaaa;

    /* Animations */
    --transition: all 0.3s ease-in-out;

    /* Typography */
    --spacing: 0.1rem;
    --line-height: 1.25;
    --font-primary-1: "Roboto";
}

h1,
h2,
h3,
h4,
h5 {
    letter-spacing: var(--spacing);
    /* text-transform: capitalize; */
    /* line-height: var(--line-height); */
    /* margin-bottom: 0.75rem; */
}

.btn-cta {
    color: #fff;
    padding: 0.7rem 2.5rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background: #a238ff;
    box-shadow: #a238ff 0px 0px 20px 2px;
    font-weight: 500;
    transition: var(--transition);
}

.btn-cta:hover {
    background: #fff;
    color: #000;
}
