html {
    /*1rem = 10px */
    box-sizing: border-box;
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
:root {
    /* Colors */
    --clr-primary-1: #272b30;
    --clr-primary-2: #56595e;
    --clr-primary-3: #4799eb;

    --clr-primary-4: #2086ec;
    --clr-primary-5: #e0a53f;
    --clr-primary-6: #b30320;
    --clr-primary-7: #24292e;
    --clr-primary-8: #ecea4a;

    /* Text colors  and Tags*/
    --clr-text-1: #aaaaaa;

    /* Animations */
    --transition: all 0.3s ease-in-out;

    /* Typography */
    --spacing: 0.1rem;
    --line-height: 1.25;
    --font-primary-1: "Roboto";

    /* Media Query's */
    --bp-1850: 115.62em;
    --bp-1400: 87.5em;
    /* 1400px / 16px */
    --bp-big: 68.75em;
    /* 1100px / 16px */
    --bp-large: 50em;
    /* 800px / 16px */
    --bp-medium: 37.5em;
    /* 600px / 16px */
    --bp-small: 31.25em;
    /* 500px /16px */
    --bp-smallest: 25em;
    /* 400px /16px */
    --bp-landscape: 31.25em;
    /* 500px height */
}

h1,
h2,
h3,
h4,
h5 {
    letter-spacing: var(--spacing);
    /* text-transform: capitalize; */
    /* line-height: var(--line-height); */
    /* margin-bottom: 0.75rem; */
}

.btn-cta {
    color: #fff;
    padding: 2rem 6rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background: #a238ff;
    box-shadow: #a238ff 0px 0px 20px 2px;
    font-weight: 500;
    transition: var(--transition);
    font-size: 2rem;
}

.btn-cta:hover {
    background: #fff;
    color: #000;
}
